nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: black;
    align-items: center;
    background: #90e98d;
}

body{ 
    overflow-x :hidden; 
} 

#logo {
    grid-column: 2/3;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#goal {
    font-size: 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nat {
    margin-top: 20px;
    margin-bottom: 20px;
    display:block;
    margin-left: auto;
    margin-right:auto;
}
.title1 {
    text-align: center;
    font-size: 100px;
}

.button {
    height: 30px;
    width: 30px;
    justify-self: end;
    background-color:transparent;
    outline: none;
    border: none;

}

section {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;

}

.headline {
    position: absolute;
    top: 70%;
    left: 10%;
    font-size: 100px;
    transform:translate(-20%, -70%);
    color: white;
    z-index: 3;

}

.dropbtn {
    background-color: #5ad355;
    color: rgb(144, 233, 141);
    padding: 10px;
    background-position:100% 10%;
    font-size: 16px;
    border-width: 1px;
    border-color:rgb(3, 80, 0);
  }
  
  .dropdown {
    position: relative;
    left: 100%;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
